# Production dependencies for scrape-forge/news
# Python 3.11+
#
# Install: pip install -r requirements.txt
# Dev tools: pip install -r dev-requirements.txt

# --- Core Framework ---
Scrapy==2.15.1
Twisted==25.5.0
lxml==6.1.0

# --- Scrapy Utilities ---
itemadapter==0.6.0
itemloaders==1.0.4
parsel==1.6.0
queuelib==1.6.2
w3lib==1.22.0
cssselect==1.1.0
Protego==0.2.1
tldextract==3.3.1
scrapy-fake-useragent==1.4.4
fake-useragent==1.1.1
Faker==13.15.0

# --- Async / Networking ---
attrs==26.1.0
Automat==25.4.16
constantly==15.1.0
hyperlink==21.0.0
Incremental==24.11.0
zope.interface==8.4
PyDispatcher==2.0.5
service-identity==21.1.0
pyasn1==0.6.3
pyasn1_modules==0.4.2

# --- HTTP / TLS ---
requests==2.32.3
requests-file==1.5.1
urllib3==2.6.3
certifi==2026.4.22
chardet==5.0.0
charset-normalizer==2.1.1
idna==3.7
cryptography==47.0.0
pyOpenSSL==26.1.0
cffi==2.0.0
pycparser==2.21
defusedxml==0.7.1
sniffio==1.3.1

# --- Storage: MongoDB ---
pymongo==4.17.0
dnspython==2.8.0

# --- Storage: Elasticsearch ---
elasticsearch==8.17.0
elastic-transport<9,>=8.15.1


# --- Storage: PostgreSQL ---
psycopg2-binary==2.9.10

# --- Scheduling ---
schedule==1.2.2

# --- Date & Utilities ---
python-dateutil==2.8.2
pytz==2022.1
jmespath==1.0.1
six==1.16.0
filelock==3.29.0
packaging==23.0
setuptools==82.0.1
python-dotenv==1.0.1

typing_extensions>=4.9.0


